/* Web appli to search repo with Github API
Gaëtan Langhade, Interfacteur
novembre 2015 */


/* inline style on <strong makes error on ReactJS JSX
to fix?
*/

strong.h1	{
	height: 1em;
	position: relative;
	top: .1em;
}
strong.h2	{
	height: 2em;
}
strong.h3	{
	height: 3em;
}
strong.h4	{
	height: 4em;
}
strong.h5	{
	height: 5em;
}
strong.h6	{
	height: 6em;
}
strong.h7	{
	height: 7em;
}
strong.h8	{
	height: 8em;
}
strong.h9	{
	height: 9em;
}
strong.h10	{
	height: 10em;
}
strong.h11	{
	height: 11em;
}
strong.h12	{
	height: 12em;
}
strong.h13	{
	height: 13em;
}
strong.h14	{
	height: 14em;
}
strong.h15	{
	height: 15em;
}
strong.h16	{
	height: 16em;
}
strong.h17	{
	height: 17em;
}
strong.h18	{
	height: 18em;
}
strong.h19	{
	height: 19em;
}
strong.h20	{
	height: 20em;
}
strong.h21	{
	height: 21em;
}
strong.h22	{
	height: 22em;
}
strong.h23	{
	height: 23em;
}
strong.h24	{
	height: 24em;
}
strong.h25	{
	height: 25em;
}
strong.h26	{
	height: 26em;
}
strong.h27	{
	height: 27em;
}
strong.h28	{
	height: 28em;
}
strong.h29	{
	height: 29em;
}
strong.h30	{
	height: 30em;
}
strong.h31	{
	height: 31em;
}
strong.h32	{
	height: 32em;
}
strong.h33	{
	height: 33em;
}
strong.h34	{
	height: 34em;
}
strong.h35	{
	height: 35em;
}
strong.h36	{
	height: 36em;
}
strong.h37	{
	height: 37em;
}
strong.h38	{
	height: 38em;
}
strong.h39	{
	height: 39em;
}
strong.h40	{
	height: 40em;
}
strong.h41	{
	height: 41em;
}
strong.h42	{
	height: 42em;
}
strong.h43	{
	height: 43em;
}
strong.h44	{
	height: 44em;
}
strong.h45	{
	height: 45em;
}
strong.h46	{
	height: 46em;
}
strong.h47	{
	height: 47em;
}
strong.h48	{
	height: 48em;
}
strong.h49	{
	height: 49em;
}
strong.h50	{
	height: 50em;
}
strong.h51	{
	height: 51em;
}
strong.h52	{
	height: 52em;
}
strong.h53	{
	height: 53em;
}
strong.h54	{
	height: 54em;
}
strong.h55	{
	height: 55em;
}
strong.h56	{
	height: 56em;
}
strong.h57	{ /* cf. http://homework:8888/form/ajg/form*/
	height: 57em;
}
strong.h58	{
	height: 58em;
}
strong.h59	{
	height: 59em;
}
strong.h60	{
	height: 6em;
}
strong.h61	{
	height: 6em;
}
strong.h62	{
	height: 6em;
}
strong.h63	{
	height: 6em;
}
strong.h64	{
	height: 6em;
}
strong.h65	{
	height: 6em;
}
strong.h66	{
	height: 6em;
}
strong.h67	{
	height: 6em;
}
strong.h68	{
	height: 6em;
}
strong.h69	{
	height: 6em;
}
strong.h70	{
	height: 70em;
}
strong.h71	{
	height: 71em;
}
strong.h72	{
	height: 72em;
}
strong.h73	{
	height: 73em;
}
strong.h74	{
	height: 74em;
}
strong.h75	{
	height: 75em;
}
strong.h76	{
	height: 76em;
}
strong.h77	{
	height: 77em;
}
strong.h78	{
	height: 78em;
}
strong.h79	{
	height: 79em;
}
strong.h80	{
	height: 80em;
}
strong.h81	{
	height: 81em;
}
strong.h82	{
	height: 82em;
}
strong.h83	{
	height: 83em;
}
strong.h84	{
	height: 84em;
}
strong.h85	{
	height: 85em;
}
strong.h86	{
	height: 86em;
}
strong.h87	{
	height: 87em;
}
strong.h88	{
	height: 89em;
}


