/* Web appli to search repo with Github API
Gaëtan Langhade, Interfacteur
novembre 2015 */


/* to do
gradient fallback with (Modernizr ?) detection: */

.time td	{
	background-image: url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png),
		url(img/line.png);
	background-position: left 1em,
		left 2em,
		left 3em,
		left 4em,
		left 5em,
		left 6em,
		left 7em,
		left 8em,
		left 9em,
		left 10em,
		left 11em,
		left 12em,
		left 13em,
		left 14em,
		left 15em,
		left 16em,
		left 17em,
		left 18em,
		left 19em,
		left 20em,
		left 21em,
		left 22em,
		left 23em,
		left 24em,
		left 25em,
		left 26em,
		left 27em,
		left 28em,
		left 29em,
		left 30em,
		left 31em,
		left 32em,
		left 33em,
		left 34em,
		left 35em,
		left 36em,
		left 37em,
		left 38em,
		left 39em,
		left 40em,
		left 41em,
		left 42em,
		left 43em,
		left 44em,
		left 45em,
		left 46em,
		left 47em,
		left 48em,
		left 49em,
		left 50em,
		left 51em,
		left 52em,
		left 53em,
		left 54em,
		left 55em,
		left 56em,
		left 57em,
		left 58em,
		left 59em,
		left 60em,
		left 61em,
		left 62em,
		left 63em,
		left 64em,
		left 65em,
		left 66em,
		left 67em,
		left 68em,
		left 69em,
		left 70em;
	background-repeat: no-repeat;
}

