@charset "UTF-8";

/* Gaëtan Langhade, Interfacteur, octobre 2016
	sources diverses dont principalement :
		https://necolas.github.io/normalize.css/5.0.0/normalize.css
	aussi :
		http://meyerweb.com/eric/tools/css/reset/
		http://html5doctor.com/html-5-reset-stylesheet/
	regard sur :
		http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation


	1- RÈGLES PARAMÉTRABLES

	2- RÉGULARISANTES

	3- RESET				*/



/*	RÈGLES PARAMÉTRABLES ****	****	****	****	****	*/

/* modèle */
html	{
	box-sizing: border-box;
}
*, *::before, *::after	{
	box-sizing: inherit;
}
img, svg, hr, input[type="search"]	{
	box-sizing: content-box;
}

/* options */
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
ol, ul, li	{
	list-style: none;
}
table	{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: auto;
}
fieldset	{
	border: 0;
}
optgroup	{
	font-weight: bold;
}
textarea	{
	resize: vertical;
}
abbr[title],
dfn[title]	{
	cursor:help;
}
mark	{
	background-color: #FF0;
	color: #000;
}

/* encadrement des marges supérieures et des flottants */
body::before,
body::after,
.ceil::before,
.floor::after,
.ceilFloor::before,
.ceilFloor::after	{
	content: " ";
	display: table;
}
body::after,
.floor::after,
.ceilFloor::after	{
	clear: both;
}

/* citations */
blockquote, q	{
	quotes : "\201C" "\201D" "\2018" "\2019";
}
:lang(fr) blockquote	{
	quotes: "\AB\20" "\20\BB" "\2039" "\203A";
}
:lang(fr) q	{
	quotes: "\22" "\22" "\27" "\27";
}
blockquote::before, q::before	{
	content: open-quote;
}
blockquote::after, q::after	{
	content: close-quote;
}





/*	RÉGULARISANTES ****	****	****	****	****	*/

/* racine */
html	{
	font-family: sans-serif;
	line-height: 1.15; /* to do : pourquoi 1.15 sur html ? brouille la typo en <h1 sur FF Mac */
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body	{
	background: #FFF;
	color: #000;
	line-height: 1; /* to do : pourquoi 1.15 sur html ? brouille la typo en <h1 sur FF Mac */
	margin: 0;
	min-height: 100vh;
}

/* liens */
a	{
	background-color: transparent;
	text-decoration: underline;
	-webkit-text-decoration-skip: objects;
}
a:focus	{
	text-decoration: none;
	outline: thin dotted;
}
a:active, a:hover	{
	outline-width: 0;
	text-decoration: none;
}

/* images */
img	{
	border-style: none;
}
img, a img, img[usemap]	{
	border: 0;
}

/* normalisation */
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section	{ /* to do : hgroup ? */
	display: block;
}

/* divers dont scripting et AV */
hr	{
	height: 0;
	overflow: visible;
}
svg:not(:root)	{
	overflow: hidden;
}
canvas	{
	display: inline-block;
}
template	{
	display: none;
}
audio, video	{
	display: inline-block;
}
audio:not([controls])	{
	display: none;
	height: 0;
}
summary	{
	display: list-item;
}

/* homogénéisation du formatage */
b, strong	{
	font-weight: inherit;
}
b, strong	{
	font-weight: bolder;
}
pre	{
	overflow: auto;
}
abbr[title],
dfn[title]	{
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
code, kbd, samp, pre	{
	font-family: monospace, monospace; /* http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
	font-size: 1em;
}
dfn	{
	font-style: italic;
}
small	{
	font-size: 80%;
}
sub, sup	{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub	{
	bottom: -0.25em;
}
sup	{
	top: -0.5em;
}

/* alignement vertical */
textarea, iframe	{
	vertical-align: top;
}
img,
button, input, keygen, output, select, textarea, label,
audio, canvas, embed, math, object, svg, video,
meter, progress	{ /* to do : meter et progress: baseline ? */
	vertical-align: middle;
}
span, a, abbr, cite, code, del, dfn, em, ins,
kbd, q, s, samp, small, strong, var, b, u, i, time, mark, ruby, bdo, bdi	{
	vertical-align: baseline;
}
abbr[title],
dfn[title]	{
    border-bottom: 1px dotted;
    cursor: help;
}

/* formulaire */
[type="submit"],
[type="reset"],
button,
[type="button"]	{
	cursor: pointer;
}
button[disabled],
html input[disabled]	{
	cursor: default;
}
[hidden]	{
	display: none;
}
button,
input,
keygen,
optgroup,
output,
select,
textarea	{
	color: inherit;
	font: inherit;
	font-size: 100%;
}
button,
input,
optgroup,
select,
textarea	{
	font-family: "-apple-system", sans-serif; /* to do : vérifier exhaustivement */
	line-height: 1.15;
	margin: 0;
}
button,
input	{
	overflow: visible;
}
button,
select	{
	text-transform: none;
}
button	{
	letter-spacing: inherit;
}
button,
html [type="button"],
[type="reset"],
[type="submit"]	{
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner	{
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring	{
	outline: 1px dotted ButtonText;
}
legend	{
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress	{
	display: inline-block;
}
textarea	{
	overflow: auto;
}
[type="checkbox"],
[type="radio"]	{
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button	{
	height: auto;
}
[type="search"]	{
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration	{
	-webkit-appearance: none;
}
::-webkit-file-upload-button	{
	-webkit-appearance: button;
	font: inherit;
}





/*	RESET ****	****	****	****	****	*/

abbr, acronym, address, applet, article, aside, audio, b, big,
blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, main, mark,
math, menu, nav, object, ol, output, p, pre, q, ruby, s, samp,
section, small, span, strike, strong, sub, summary, sup, table,
tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video	{
	margin: 0;
	padding: 0;
}
